---
// Component imports
import { Layout } from "@globals"
---

<Layout title="Centro Cristão da Cidade - C3">
	<section class="p-6 flex-1 flex flex-col justify-center items-center   z-20  mt-80 sm:mt-80 md:mt-72 lg:mt-72 xl:mt-72 2xl:mt-72">
		<div class=" h-28 bg-white shadow-md px-10 mb-6 rounded  flex flex-row justify-center items-center">
			<div class="text-left mr-3">
				<h2 class=" text-3xl font-black font-poppins text-gray-600">Palavra Pastoral</h2>
				<span class="text-gray-400"> Vivendo em família </span>
				</div>
				<div>
				<a href="#" class="">
					<span>
						<svg xmlns="http://www.w3.org/2000/svg" 
						class="w-20 h-20 text-gray-700 hover:text-gray-800 transition duration-500 hover:scale-125"
						viewBox="0 0 24 24">
						<path fill="currentColor" 
						d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10s10-4.48 10-10S17.52 2 12 2zM9.5 16.5v-9l7 4.5l-7 4.5z"/>
					</svg>
				</a>
				</span>
			</div>
		</div>
		<div class=" max-w-4xl h-full flex justify-center items-center">
			<div class="grid-cols-1 sm:grid md:grid-cols-3 ">
				<div
				  class="mx-3 mt-6 flex flex-col rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0">
				  <a href="#!">
					<img
					  class="rounded-t-lg"
					  src="https://tecdn.b-cdn.net/img/new/standard/city/044.webp"
					  alt="Skyscrapers" />
				  </a>
				  <div class="p-6">
					<h5
					  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
					  Uma vida com propósito
					</h5>
					<p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
					  This is a wider card with supporting text below as a natural
					  lead-in to additional content. This content is a little bit
					  longer.
					</p>
				  </div>
				  <a href="#" class="mt-auto border-t-2 border-neutral-100 bg-blue-900 hover:bg-blue-700 px-6 py-3 text-center dark:border-neutral-600 dark:text-neutral-50">					
					<small class="text-white">Saiba Mais</small>
				  </a>
				</div>
				<div
				  class="mx-3 mt-6 flex flex-col rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0">
				  <a href="#!">
					<img
					  class="rounded-t-lg"
					  src="https://tecdn.b-cdn.net/img/new/standard/city/043.webp"
					  alt="Los Angeles Skyscrapers" />
				  </a>
				  <div class="p-6">
					<h5
					  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
					  Devocional
					</h5>
					<p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
					  This card has supporting text below as a natural lead-in to
					  additional content.
					</p>
				  </div>
				  <a href="#" class="mt-auto border-t-2 border-neutral-100 bg-blue-900 hover:bg-blue-700 px-6 py-3 text-center dark:border-neutral-600 dark:text-neutral-50">					
					<small class="text-white">Saiba Mais</small>
				  </a>
				</div>
				<div
				  class="mx-3 mt-6 flex flex-col rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0">
				  <a href="#!">
					<img
					  class="rounded-t-lg"
					  src="https://tecdn.b-cdn.net/img/new/standard/city/042.webp"
					  alt="Palm Springs Road" />
				  </a>
				  <div class="p-6">
					<h5
					  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
					  Roteiro de estudo
					</h5>
					<p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
					  This is a wider card with supporting text below as a natural
					  lead-in to additional content. This card has even longer content
					  than the first to show that equal height action.
					</p>
				  </div>
				  <a href="#" class="mt-auto border-t-2 border-neutral-100 bg-blue-900 hover:bg-blue-700 px-6 py-3 text-center dark:border-neutral-600 dark:text-neutral-50">					
					<small class="text-white">Saiba Mais</small>
				  </a>
				</div>
			  </div>
		</div>
	</section>
	<div>
		<div class="flex flex-col justify-center items-center w-full h-80 my-10 bg-[url('../assets/img/orando.jpg')] bg-no-repeat bg-center bg-cover bg-fixed relative ">
			<div class="bg-blue-700 opacity-40 w-full h-full  absolute z-10 ">
			</div>
			<h3 class="z-50 text-white relative  font-open text-6xl">Adore ao Senhor com todo teu ser!</h3>
			<p class="mt-2 text-gray-700 relative z-50 font-poppins">Venha nos conhecer e juntos adorarmos ao nosso Senhor!</p>
		</div>
	</div>
</Layout>



























<!-- <Layout title="Centro Cristão da Cidade - C3">
	<section class="p-6 flex-1 flex flex-col justify-between  z-20  mt-80 sm:mt-80 md:mt-60 lg:mt-60 xl:mt-60 2xl:mt-60">
		
		<div
		class="max-w-xl mx-auto flex flex-col justify-center flex-1 space-y-10"
		>
		<div class=" h-28 w-full bg-white shadow-md px-4 rounded  flex flex-row justify-center items-center">
			<div class="text-left mr-3">
				<h2 class=" text-3xl font-black font-poppins text-gray-600">Palavra Pastoral</h2>
				<span class="text-gray-400"> Vivendo em família </span>
				</div>
				<div>
				<a href="#" class="">
					<span>
						<svg xmlns="http://www.w3.org/2000/svg" 
						class="w-20 h-20 text-gray-700 hover:text-gray-800 transition duration-500 hover:scale-125"
						viewBox="0 0 24 24">
						<path fill="currentColor" 
						d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10s10-4.48 10-10S17.52 2 12 2zM9.5 16.5v-9l7 4.5l-7 4.5z"/>
					</svg>
				</a>
				</span>
			</div>
		</div>
			<div class="space-y-2 text-center">
				<h1 class="text-4xl font-semibold">🟢 astro-pwa-starter111111</h1>
				<p class="italic">
					It works! Check out <span class="p-1 rounded-lg bg-gray-100 font-mono"
						>/src/pages</span
					> to get started.
				</p>
			</div>
			<div>
				<ul class="grid md:grid-cols-2 gap-4">
					<li>
						<a
							href="https://github.com/shaunchander/astro-pwa-starter#-getting-started-guide"
							class="p-6 rounded-2xl border border-gray-500 flex flex-col text-center hover:bg-blue-500 focus:bg-blue-500 hover:text-white duration-300 ease-in-out transition hover:border-blue-500 focus:border-blue-500"
						>
							<span class="text-xl font-medium">🚀 Getting started guide</span>
						</a>
					</li>
					<li>
						<a
							href="https://github.com/shaunchander/astro-pwa-starter#-documentation"
							class="p-6 rounded-2xl border border-gray-500 flex flex-col text-center hover:bg-blue-500 focus:bg-blue-500 hover:text-white duration-300 ease-in-out transition hover:border-blue-500 focus:border-blue-500"
						>
							<span class="text-xl font-medium">📖 Documentation</span>
						</a>
					</li>
				</ul>
			</div>
		</div>

		
		<div class="flex justify-center">
			<a
				href="https://twitter.com/shaunchander"
				target="_blank"
				rel="noopener noreferrer"
				class="relative inline-flex items-center rounded-full bg-gray-100 p-4 transition duration-300 ease-in-out hover:-translate-y-2 focus:-translate-y-2 group hover:text-white focus:text-white"
			>
				<div class="flex items-center space-x-4 relative z-10">
					<img
						src="https://pbs.twimg.com/profile_images/1315666131051597824/OfWHLLgz_400x400.jpg"
						width={48}
						height={48}
						class="rounded-full object-cover"
						alt=""
					/>
					<span class="text-lg font-bold">Built by @shaunchander</span>
				</div>
				<div
					class="inline-block rounded-full absolute inset-0 bg-gradient-to-tr from-[#07f49e] to-[#42047e] opacity-0 group-hover:opacity-100 group-focus:opacity-100 duration-300 ease-in-out transition"
				>
				</div>
			</a>
		</div>
	</section>
</Layout> -->
