---
// Component imports
import { Layout } from "@globals"
import familia from "../../src/assets/img/familiaigrejac3.jpg"
---

<Layout title="A Família C3">
  <section
    class="py-8 px-6 flex-1 flex flex-col justify-center items-center z-20 mt-96"
  >
    <!-- Welcome -->
    <div class="max-w-4xl text-left">
      <h2
        class="text-gray-700 text-3xl font-extrabold font-rubbik mb-5 border-l-4 border-gray-700 pl-2 ml-3 my-6"
      >
        A família Centro Cristão da Cidade - C3
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2">
        <!-- Text Column -->
        <div class="w-full p-4">
          <div class="text-justify">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec
              ipsum sapien. Fusce vel tellus eu dolor pretium posuere dictum ut
              purus. Ut eu tortor eros. Vestibulum varius efficitur turpis at
              molestie. Interdum et malesuada fames ac ante ipsum primis in
              faucibus. In et lorem consectetur, convallis lectus in, faucibus
              mauris. Praesent lacinia ultricies tortor, eget cursus eros
              elementum eu. Pellentesque tempus dignissim neque a commodo. Proin
              eget odio justo. Praesent convallis eros vitae mattis maximus. Ut
              quis sem eu erat congue rutrum nec id leo. Suspendisse lobortis
              ipsum tortor, sit amet suscipit eros porta lobortis. Fusce
              vehicula, magna eget imperdiet ultricies, felis dui eleifend
              risus, imperdiet dignissim mauris ligula id mauris. In vel nisl
              convallis, egestas dui id, consequat lacus.
            </p>
            <br />
            <p>
              Quisque in faucibus odio, a varius turpis. Sed sapien augue,
              suscipit vitae orci sit amet, dignissim pharetra nibh. In suscipit
              ac lacus eu iaculis. Maecenas nec nibh lectus. Duis in mauris
              turpis. Etiam faucibus magna id rhoncus blandit. Integer ut tempus
              nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Curabitur porttitor est quam, nec varius ipsum suscipit quis.
              Integer vestibulum diam sagittis aliquet varius. Vivamus faucibus
              metus nec est ultricies efficitur. Sed vestibulum varius dui, eget
              sagittis dolor convallis vitae.
            </p>
          </div>
        </div>

        <!-- Image Column -->
        <div class="w-full p-4">
          <img
            src={familia}
            class="rounded-bl-3xl rounded-tr-3xl"
            alt="família Centro Cristão da Cidade - C3"
          />
        </div>
      </div>
    </div>
  </section>
</Layout>
